<div class="content">
    <div class="card" id="tableDiv">
        <div id="roletable_wrapper" class="dataTables_wrapper dt-jqueryui no-footer">
            <div class="datatable-scroll-wrap">
                <table class="table dataTable no-footer" id="roletable" role="grid" aria-describedby="roletable_info">
                    <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1" aria-sort="ascending" aria-label="S.No: activate to sort column descending">
                                S.No
                            </th>
                            <th class="sorting ui-state-default" tabindex="0" aria-controls="roletable" rowspan="1" colspan="1" aria-label="Vehicle Model: activate to sort column ascending">
                                Vehicle Model
                            </th>
                            <th class="sorting ui-state-default" tabindex="0" aria-controls="roletable" rowspan="1" colspan="1" aria-label="Images: activate to sort column ascending">
                                Images
                            </th>
                            <th class="sorting ui-state-default" tabindex="0" aria-controls="roletable" rowspan="1" colspan="1" aria-label="Car Number: activate to sort column ascending">
                                Car Number
                            </th>
                            <th class="sorting ui-state-default" tabindex="0" aria-controls="roletable" rowspan="1" colspan="1" aria-label="Capacity: activate to sort column ascending">
                                Capacity
                            </th>
                            <th class="sorting ui-state-default" tabindex="0" aria-controls="roletable" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">
                                Status
                            </th>
                            <th class="sorting ui-state-default" tabindex="0" aria-controls="roletable" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <!-- Table data -->
                            <td class="sorting_1">1</td>
                            <td>Hyundai Xcent</td>
                            <td>
                                <div class="card-img-actions">
                                    <img height="30" id="view_car_image2" src="http://34.201.253.146/taxi/public//storage/images/vehicles/vWehjuWfdc77WMTDITnrDCOrUO1vLF1iNvBlNytg.jpg" alt="">
                                </div>
                            </td>
                            <td>TN00IJ1234</td>
                            <td>5</td>
                            <td><span class="badge badge-success">Active</span></td>
                            <!-- <td> -->
                                <!-- <div class="btn-group">
                                    <button type="button" class="btn btn-default" data-toggle="dropdown">
                                        <i class="fa-solid fa-bars"></i>
                                    </button> -->
                                    <!-- Dropdown menu -->
                                    <!-- <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <i class="fa-solid fa-eye"></i> View
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa-solid fa-edit"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa-solid fa-trash"></i> Delete
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fa-solid fa-info"></i> Status
                                        </a>
                                    </div> -->
                                <!-- </div>
                            </td> -->
                            <td><div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div></td>
                        </tr>
                        <!-- Other rows... -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
