.wrapper {
    display: flex;
  }
  
  #content {
    flex-grow: 1;
    transition: margin-left 0.3s;
  }
  
  #content.content-collapsed {
    margin-left: 50px;
  }
  
  .btn {
    margin: 10px;
  }
  